body {
	width: 100%;
	margin: 0;
}

#contacts {
	background-color: #F2F2F2;
	height: 32px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font: 12px arial;
}

header {
	height: 180px;
	width: 100%;
	display: flex;
	align-items:center;		
}

.topBtn {
	height: 32px;
	width: 32px;
	background-color: #E5E5E5;
	margin: 0 1px;	
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #808080;	
	transition: 0.5s;
}

.topBtn:hover {
	background-color: #29BDCA;
}

#mail {
	text-decoration: none;
	color: #29BDCA;
}

#mail:hover {
	color: #2095A0; 
}

.topBtn:last-of-type{
	margin-right: 160px;
}

#telnumb, #mail {
	margin-right: 30px;
}

#telnumb {
	color: #808080;
}

#siteTitle {
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 160px;
	margin-right: 40px;
}
#siteTitle:hover {
	cursor: default;
}
#logo {
	width: 55px;
	height: 55px;
	background-color: #29BDCA;
	font: bold 38px arial;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;	
}

#name {
	margin-left: 20px;
	font: 38px arial;	
}

#topNav ul {	
	display: flex;
	font: 14px arial;
}
ul {
	list-style: none;
}
#topNav li {
	margin-left:20px;
}

#topNav a{
	color: #808080;
}

#topNav a:hover{
	text-decoration: underline;
}
section {
	margin: 0;
	height: 170px;
	background-color: #29BDCA;
	font-family: arial;	
	cursor: default;
}

#path {
	margin: 0;
	height: 20%;
	background-color: #2095A0;
	display: flex;
	align-content: center;
	font-size: 12px;
}

a {
	text-decoration: none;
}

#path ul {
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-self: center;
	margin-left: 160px;
}

#path a {
	color: white;
}

#path li {
	color: #29BDCA;
}

#path li:nth-of-type(n+2){
	margin-left: 10px;
}

#portfolio {
	height: 80%;
	margin-left: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#portfolio div {
	font-size: 32px;
	font-weight: normal;
	color: white;	
}

#portfolio span {
	color: #ACDDCA;
}